#memory-board {
	background: rgb(139, 54, 54);
	border: #999 1px solid;
	width: 800px;
	height: 540px;
	padding: 24px;
	margin: 0px auto;
}

#memory-board>div {
	background: url(./images/oie_29145426FXBLw7or.jpg) no-repeat;
	border: #000 1px solid;
	width: 71px;
	height: 71px;
	float: left;
	margin: 10px;
	padding: 20px;
	font-size: 64px;
	cursor: pointer;
	text-align: left;
	line-height: 27px;
	align-items: center;
}

#myHeader {
	text-align: center;
}